*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: #033134;;
    color: #ededed;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
.navbar a:hover{
    color: #0ef;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


.main-text{
    padding-top: 110px;
}
.main-text h2{
    font-size: 30px;
    line-height: 1;
    text-align: center;
    margin-bottom: 5px;
}
.main-text h2 span{
    color: #0ef;
}
.portfolio-content{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    margin-left: 4rem;

}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    width: 300px;
    height: 600px;
    padding-top: 50px;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transform: 0.5s;
    height: 300px;
}
.layer{
    width: 100%;
    height: 1.5;  
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 1s;
}
.layer h5{
    color: #0ef;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}
.layer a{
    color: #ff004f;
    margin-top: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
}
.row:hover .layer{
    height: 100%;
}
.last-text p{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 1.2rem;
    right: 2.1rem;
}
.top i{
    color: #000;
    background: #0ef;
    font-size: 15px;
    padding: 5px;
    border-radius: 0.5rem;
}

